@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { 
    background:rgb(30,30,40); 
}
form { 
  max-width:420px; 
  margin:50px auto; 
}
label { 
  color:#43919b;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  margin-left: 85px;
    
}
.container {
  color:white;
  max-width:620px; 
  margin:50px auto; 
  border-radius: 5px;
  background-color: transparent;
  border:2px solid #43919b;
  padding: 8px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.input_ {
  color:#43919b;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #43919b;
  padding: 8px;
  margin-bottom: 20px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}
button {
  color:#43919b;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #43919b;
  padding: 8px;
  margin-bottom: 60px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.input_:focus { 
    border:2px solid #22494e; 
}

span{
  line-height: 150%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  color:#43919b;

}

.btn {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#22494e; 
  border-radius:5px;
  border:0;
  color:rgb(177, 177, 177);
  font-size:24px;
  margin-top: 20px;
}

